.card {
  background-color: $veryDarkMagenta;
  color: white;
  border-radius: rem(8px);
  padding: rem(40px) rem(32px) rem(32px) rem(32px);
  font-size: rem(13px);
  text-align: left;
  margin-top: rem(16px);

  &__header {}

  &__portrait {
    border-radius: 50%;
    width: clamp(rem(40px), 100%, rem(40px));
    height: clamp(rem(40px), 100%, rem(40px));
  }

  &__person {
    margin-left: rem(23px);
  }

  &__name {
    font-weight: 700;
  }

  &__role {
    margin-top: rem(5px);
    color: $softPink;
  }

  &__testimonial {
    display: inline-block;
    margin-top: rem(26px);
    font-weight: 500;
    line-height: calc(22/13);
    letter-spacing: rem(-0.25834px);
  }

  @for $i from 1 through 3 {
    &__#{$i} {
      @extend .card;

      @include breakpoint-up(medium) {
        margin-top: rem(16px * ($i - 1));

        @if $i>1 {
          margin-left: rem(30px);
        }
      }
    }
  }

  @include breakpoint-up(medium) {
    height: clamp(rem(234px), 100%, rem(234px));
    max-width: rem(350px);
    padding: rem(40px) rem(32px) rem(40px) rem(32px);
  }
}