.card {
  background-color: $veryDarkMagenta;
  border-radius: rem(8px);
  color: white;
  font-size: rem(13px);
  margin-top: rem(16px);
  padding: rem(40px) rem(32px) rem(32px) rem(32px);
  text-align: left;

  &__portrait {
    border-radius: 50%;
    height: clamp(rem(40px), 100%, rem(40px));
    width: clamp(rem(40px), 100%, rem(40px));
  }

  &__person {
    margin-left: rem(23px);
  }

  &__name {
    font-weight: 700;
  }

  &__role {
    color: $softPink;
    margin-top: rem(5px);
  }

  &__testimonial {
    display: inline-block;
    font-weight: 500;
    letter-spacing: rem(-0.25834px);
    line-height: calc(22/13);
    margin-top: rem(26px);
  }

  @for $i from 1 through 3 {
    &__#{$i} {
      @extend .card;

      @include breakpoint-up(medium) {
        margin-top: rem(16px * ($i - 1));

        @if $i>1 {
          margin-left: rem(8px);
        }
      }
    }
  }

  @include breakpoint-up(medium) {
    height: clamp(rem(234px), 100%, rem(234px));
    max-width: rem(350px);
    padding: rem(40px) rem(32px) rem(40px) rem(32px);
  }
}