html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: rem(15px);
  line-height: 1.5;
  text-align: center;
  background: url(/images/bg-pattern-top-mobile.svg) no-repeat;
}

.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}