.l-header> {
  h1 {
    color: $veryDarkMagenta;
    font-size: rem(32px);
    font-weight: 700;
    letter-spacing: rem(-1.14286px);
    line-height: 1;

    @include breakpoint-up(medium) {
      font-size: rem(48px);
      letter-spacing: rem(-1.71429px);
    }
  }

  p {
    color: $darkGrayishMagenta;
    font-weight: 500;
    letter-spacing: rem(-0.5px);
    line-height: calc(25/15);
    margin-top: rem(18px);
  }
}