.l- {
  &header {
    margin-top: rem(56px);

    @include breakpoint-up(medium) {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 rem(445px);
      flex: 0 1 rem(445px);
      margin-top: 0;
      text-align: left;
    }
  }

  &ratings {
    margin-top: rem(40px);

    @include breakpoint-up(medium) {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 rem(540px);
      flex: 0 1 rem(540px);
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 0;
      margin-left: rem(24px);
    }
  }

  &cards {
    margin-top: rem(33px);

    @include breakpoint-up(medium) {
      margin-top: rem(72px);
    }
  }

  &site-container {
    margin: rem(24px) auto;
    min-width: rem(327px);
    width: 77vw;

    @include breakpoint-up(medium) {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 rem(1172px);
      flex: 0 1 rem(1172px);
      padding: rem(127px) rem(32px) rem(62px) rem(32px);
    }
  }

  &flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  &flex-col-sm-row-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @include breakpoint-down(small) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  &flex-center {
    @include breakpoint-up(medium) {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  &space-between {
    @include breakpoint-up(medium) {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }
}