.l- {
  &header {
    margin-top: rem(80px);
  }

  &ratings {
    margin-top: rem(40px);
  }

  &site-container {
    margin: rem(24px);
  }

  &-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}