.l- {
  &header {
    margin-top: rem(56px);

    @include breakpoint-up(medium) {
      text-align: left;
      margin-top: 0;
      flex: 0 1 rem(445px);
    }
  }

  &ratings {
    margin-top: rem(24px);

    @include breakpoint-up(medium) {
      margin-top: 0;
      flex: 0 1 rem(540px);
    }
  }

  &cards {
    margin-top: rem(33px);

    @include breakpoint-up(medium) {
      margin-top: rem(72px);
    }
  }

  &site-container {
    margin: rem(24px) auto;
    width: 77vw;
    min-width: rem(327px);

    @include breakpoint-up(medium) {
      padding: rem(127px) rem(32px) rem(62px) rem(32px);
      flex: 0 1 rem(1110px);
    }
  }

  &flex-row {
    display: flex;
  }

  &flex-column {
    display: flex;
    flex-direction: column;
  }

  &flex-col-sm-row-lg {
    display: flex;

    @include breakpoint-down(small) {
      flex-direction: column;
    }
  }

  &flex-center {
    @include breakpoint-up(medium) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &space-between {
    @include breakpoint-up(medium) {
      justify-content: space-between;
    }
  }
}