.rating {
  background-color: $lightGrayishMagenta;
  color: $veryDarkMagenta;
  border-radius: rem(8px);
  padding: rem(16px) 0;
  flex: 1;

  &__stars {
    @include breakpoint-up(medium) {
      padding: 0 rem(16px);
      flex: 0 1 rem(181px);
    }
  }

  &__star {
    &:not(:first-child) {
      margin-left: rem(4px);
    }
  }

  &__text {
    margin-top: rem(8.25px);
    font-weight: 700;
    font-size: rem(13px);
    line-height: rem(15px);

    @include breakpoint-up(medium) {
      margin-top: 0;
      padding-right: rem(16px);
    }
  }

  // Old way of styling with a loop and incremental margin for each new item
  // this would scale with additional items but I opted for a flex layout
  // that strictly works with 3 items but allows for more flexible spacing
  // @for $i from 1 through 3 {
  //   &__#{$i} {
  //     @extend .rating;

  //     @include breakpoint-up(medium) {
  //       margin-left: rem(47.5px * ($i - 1));
  //     }
  //   }
  // }

  &__1 {
    @include breakpoint-up(medium) {
      justify-content: start;
    }
  }

  &__2 {
    margin-top: rem(16px);

    @include breakpoint-up(medium) {
      justify-content: center;
    }
  }

  &__3 {
    margin-top: rem(16px);

    @include breakpoint-up(medium) {
      justify-content: end;
    }
  }

  @include breakpoint-up(medium) {
    // width: clamp(rem(445px), rem(445px), rem(445px));
    justify-content: start;
    flex: 0 1 rem(445px);
    min-height: rem(56px);
    padding: 0;
    align-items: center;
  }
}