.rating {
  background-color: $lightGrayishMagenta;
  border-radius: rem(8px);
  color: $veryDarkMagenta;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: rem(16px) 0;

  &__stars {
    @include breakpoint-up(medium) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 rem(181px);
      flex: 0 0 rem(181px);
      padding: 0 rem(16px);
    }
  }

  &__star {
    &:not(:first-child) {
      margin-left: rem(4px);
    }
  }

  &__text {
    font-size: rem(13px);
    font-weight: 700;
    line-height: rem(15px);
    margin-top: rem(8.25px);

    @include breakpoint-up(medium) {
      margin-top: 0;
      padding-right: rem(16px);
    }
  }

  // Old way of styling with a loop and incremental margin for each new item
  // this would scale with additional items but I opted for a flex layout
  // that strictly works with 3 items but allows for more flexible spacing
  // @for $i from 1 through 3 {
  //   &__#{$i} {
  //     @extend .rating;

  //     @include breakpoint-up(medium) {
  //       margin-left: rem(47.5px * ($i - 1));
  //     }
  //   }
  // }

  &__1 {
    @include breakpoint-up(medium) {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
    }
  }

  &__2 {
    margin-top: rem(16px);

    @include breakpoint-up(medium) {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  &__3 {
    margin-top: rem(16px);

    @include breakpoint-up(medium) {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }

  @include breakpoint-up(medium) {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 rem(445px);
    flex: 0 1 rem(445px);
    // width: clamp(rem(445px), rem(445px), rem(445px));
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    min-height: rem(56px);
    padding: 0;
  }
}